# Allow turning off even more stuff
CONFIG_EXPERT=y
CONFIG_NONPORTABLE=y

# Save time by skipping compressing the kernel, we only want an uncompressed image for qemu
CONFIG_KERNEL_UNCOMPRESSED=y

# Build a kernel to run in m-mode so we can avoid needing a bios
CONFIG_RISCV_M_MODE=y

# enable kernel printing output
CONFIG_PRINTK=y

# enable serial subsystem
CONFIG_TTY=y

# Add driver for serial device for machine
CONFIG_SERIAL_8250=y

# Allow using that serial port for console
CONFIG_SERIAL_8250_CONSOLE=y

# Allow the kernel to find its own serial device using device tree
CONFIG_SERIAL_OF_PLATFORM=y

# enable initramfs to hold first file system
CONFIG_BLK_DEV_INITRD=y

# enable loading of elf binaries
CONFIG_BINFMT_ELF_FDPIC=y

# enable power and reset subsystem
CONFIG_POWER_RESET=y

# enable sys control driver
CONFIG_POWER_RESET_SYSCON=y

# allow power off via syscon
CONFIG_POWER_RESET_SYSCON_POWEROFF=y
